<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container">
            <!-- Add sales form -->
            <h2>Add Product</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="nameInput">Name:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="nameInput"
                        name="name"
                    />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <h2>Sales</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Prodcut ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td><a href="{{ url_for('product', product_id=product.id) }}">{{ product.id }}</a></td>
                        <td><a href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a></td>
                        <td>{{ product.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </body>
</html>
